ChiasmusEngineCLCF_15.04/dtd/alreadyFound.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT alreadyFound (category+) >
<!ATTLIST alreadyFound geneFrom CDATA "" >
<!ATTLIST category name ID #REQUIRED>
<!ELEMENT category (chiasm+) >
<!ELEMENT chiasm (wA,wB,extract,context)>
<!ELEMENT wA (#PCDATA) >
<!ATTLIST wA iA CDATA #REQUIRED >
<!ATTLIST wA iD CDATA #REQUIRED >
<!ELEMENT wB (#PCDATA) >
<!ATTLIST wB iB CDATA #REQUIRED >
<!ATTLIST wB iC CDATA #REQUIRED >
<!ELEMENT extract (#PCDATA) >
<!ELEMENT context (#PCDATA) >
